# Dont upload the gcloudignore file
.gcloudignore
# If you would like to upload your .git directory, .gitignore file or
# files from your .gitignore file, remove the corresponding line below:
.git
.gitignore
#!include:.gitignore

**/alembic/.*
**/client_cli/.*
**/etl/.*
**/etl_test/.*
**/bin/
**/data/
**/tests/
**/test/
**/tools/.*
**/services/.*
**/services_libs/.*
**/venv/.*$

*.bak
*.pyc

rest-api/**
ptc-uploads-unit-testing/**
git-hooks/**

# dont upload developer daemon tool
**/*daemon.py

^(.*/)?#.*#$
^(.*/)?.*~$
^(.*/)?.*/RCS/.*$
^(.*/)?\..*$

