*.pyc
*.pyo
**/*.iml
**/__pycache__

*.swp
*.bak

*.log

**/lib
**/bin
**/venv

**/.idea
**/.project
**/.pydevproject

# Test coverage files
.coverage
htmlcov/

# pyenv file
.python-version

# Local working cache files
/rest-api/data/awardees.csv
/rest-api/data/organizations.csv
/rest-api/data/sites.csv
