*.pyc
*.pyo
**/*.iml
**/__pycache__

*.swp
*.bak

*.log

**/lib
**/bin
**/venv
**/venv37

**/.idea
**/.project
**/.pydevproject

# Test coverage files
.coverage
htmlcov/

# pyenv file
.python-version

# Local working cache files

/rdr_service/data/*

# Unit test configration
/tests/.test_configs/*

# ignore old rest-api
/rest-api

# ignore temp folders
*/temp/

# ignore env configs
/rdr_service/.configs/*

app.yaml

!**/.idea
**/.idea/**
!**/.idea/runConfigurations/
