#
# This file is subject to the terms and conditions defined in the
# file 'LICENSE', which is part of this source code package.
#
#
# Note: Steps to update local venv packages before running pip-compile on this file
#
#    1. run: "pip freeze > /tmp/tmp_req.txt"
#    2. change all '==' in /tmp/tmp_req.txt to '>='. Check for package max version and set it. NOT RECOMMENDED.
#    3. run: "pip install -r /tmp/tmp_req.txt --upgrade"
#    4. run: pip-compile -r -U -o requirements.txt requirements.in

pip-tools

## web service
flask
blinker
simplejson
flask-restful
backoff
oauth2client
requests[security]
supervisor
gunicorn

## google cloud services
## https://cloud.google.com/python/references/libraries
google-api-python-client
google-cloud-storage
google-cloud-bigquery
google-cloud-datastore
google-cloud-firestore
google-cloud-logging
google-cloud-tasks
googlemaps   # Used in tools/import_organizations.py
protobuf   # Google protobuffers

## database services
mysqlclient
sqlalchemy
alembic
fhirclient
protorpc
dictalchemy
sqlparse

# JSON schema management
marshmallow
marshmallow-jsonschema

## misc
dnspython
xmltodict
netaddr
jira
sendgrid

## testing
coverage
pylint
mock
faker
parameterized
locust   # Used in tools/load_test_locustfile.py

# Documentation
sphinx

# Automated spreadsheet report generation (e.g., for consent validation metrics reporting)
pandas
gspread
