# cloudstorage_api docs are at
# cloud.google.com/appengine/docs/standard/python/googlecloudstorageclient/read-write-to-cloud-storage
Faker==0.7.3
GoogleAppEngineCloudStorageClient>=1.9.21
GoogleAppEnginePipeline>=1.9.21
Graphy>=1.0.0
Werkzeug==0.11.11
blinker>=1.4
dnspython>=1.15.0
fhirclient==1.0.6
flask==0.10
flask-restful==0.3.5
isodate==0.5.4
mock>=1.0.1
mox>=0.5.3
netaddr>=0.7.18
oauth2client>=4.0.0
simplejson>=3.6.5
sqlalchemy>=1.2
alembic>=0.8.10
dictalchemy>=0.1.2.7
MySQL-python>=1.2.5
protorpc>=0.12.0
parameterized>=0.6.1
googlemaps>=2.5.1
google-api-python-client==1.6.6
backoff
google-cloud-dlp==0.5.0
google-auth-httplib2==0.0.3
