version: 2.1
# For more information on choosing an image (or alternatively using a
# VM instead of a container) see https://circleci.com/docs/2.0/executor-types/
# To see the list of pre-built images that CircleCI provides for most common languages see
# https://circleci.com/docs/2.0/circleci-images/

job_defaults: &job_defaults
  docker:
    - image: cimg/base:2021.05-18.04
      environment:
        RDR_UNITTEST_SQL_SERVER_PORT: 3306
        CIRCLECI_FLAG: 1
    - image: circleci/mysql:5.7
      environment:
        MYSQL_ALLOW_EMPTY_PASSWORD: yes
        MYSQL_ROOT_PASSWORD: ''
  working_directory: ~/all-of-us/raw-data-repository
  parallelism: 1
  shell: /bin/bash --login
  environment:
    IS_AUTOMATED_TESTING_ENVIRONMENT: "true"


commands:
  unittest-app-steps:
    steps:
      - checkout
      - run:
          name: Setup Python Environment
          command: ./ci/setup_python_env.sh
      - run:
          name: Code static analysis checks
          command: ci/full_static_analysis.sh
      - run:
          name: Check Licenses
          command : |
            export PYTHONPATH=$PYTHONPATH:`pwd`
            python3.7 ./ci/check_licenses.py --root ./venv/lib/python3.7/site-packages \
                            --licenses_file ci/license_allowed_list.txt --exceptions_file ci/license_exceptions.txt
      - run:
          name: Launch Flask Unittest Service
          command: ./ci/run_unittest_flask_server.sh
          background: true
      - run:
          name: Running Unittests
          command: ./ci/run_unittests.sh
      - run:
          name: Upload Coverage Report
          command: ./ci/run_upload_coverage_report.sh
      - run:
          name: Safety Check
          command: source venv/bin/activate && safety check

  deploy-app-steps:
    parameters:
      project-id:
        type: string
        default: bad-mojo-teacup
      git-target:
        type: string
        default: bad-mojo-teacup
    steps:
      - checkout
      - run:
          name: Install Cloud SDK
          command: ./ci/install_google_sdk.sh
      - run:
          name: Setup Python Environment
          command: ./ci/setup_python_env.sh
      - run:
          name: Deploy App To Test Environment
          command: ./ci/deploy_app.sh << parameters.project-id >> << parameters.git-target >>
          no_output_timeout: 60m
      - run:
          name: Verify App Instance Running
          command: source venv/bin/activate && python ./ci/verify_instance.py << parameters.project-id >> << parameters.git-target >>

jobs:
  job_run_unittests:
    <<: *job_defaults
    steps:
      - unittest-app-steps

  job_deploy_to_test:
    <<: *job_defaults
    steps:
      - deploy-app-steps:
          project-id: pmi-drc-api-test
          git-target: << pipeline.git.branch >>

  job_deploy_to_staging:
    <<: *job_defaults
    steps:
      - deploy-app-steps:
          project-id: all-of-us-rdr-staging
          git-target: << pipeline.git.tag >>

  job_deploy_to_ptsc_1:
    <<: *job_defaults
    steps:
      - deploy-app-steps:
          project-id: all-of-us-rdr-ptsc-1-test
          git-target: << pipeline.git.tag >>

  job_deploy_to_ptsc_2:
    <<: *job_defaults
    steps:
      - deploy-app-steps:
          project-id: all-of-us-rdr-ptsc-2-test
          git-target: << pipeline.git.tag >>


  job_deploy_to_ptsc_3:
    <<: *job_defaults
    steps:
      - deploy-app-steps:
          project-id: all-of-us-rdr-ptsc-3-test
          git-target: << pipeline.git.tag >>


  job_deploy_to_ce:
    <<: *job_defaults
    steps:
      - deploy-app-steps:
          project-id: all-of-us-rdr-careevo-test
          git-target: << pipeline.git.tag >>

workflows:

  test_commits_workflow:
    jobs:
      - job_run_unittests:
          filters:
            branches:
              ignore:
                - circleci-deploy
                - devel
                - master
            tags:
              ignore: /.*/

  devel_branch_workflow:
    jobs:
      - job_run_unittests:
          filters:
            branches:
              only:
                - circleci-deploy
                - devel
                - master
      - job_deploy_to_test:
          requires:
            - job_run_unittests
          filters:
            branches:
              only:
                - circleci-deploy
                - devel

  release_workflow:
    jobs:
      - job_deploy_to_staging:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^\d\.\d+\.\d+$/
      - job_deploy_to_ptsc_1:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^\d\.\d+\.\d+$/
      - job_deploy_to_ptsc_2:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^\d\.\d+\.\d+$/
      - job_deploy_to_ptsc_3:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^\d\.\d+\.\d+$/
      - job_deploy_to_ce:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^\d\.\d+\.\d+$/
